/* colors: 
1) #F3f0CA
2) #E1AA74
3) #3876BF
4) #192655
*/

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../media/img/beach_background.jpg");
    /* background-color: #f3f0ca; */
    text-align: center;
}

header>img {
    width: 5%;
}

#opening {
    margin: 1% auto 0 auto;
    text-align: center;
    padding: 3%;
}

#opening>p {
    margin: 1% 0 2% 0;
    font-weight: bolder;
    line-height: 120%;
}

#games {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 8%;
    width: 60%;
    margin: auto;
}

#games>div {
    background-color: #E1AA74;
    width: 100%;
    border-radius: 5%;
    padding: 10%;
}

#games>div:hover {
    cursor: pointer;
    background-color: lightpink;
}

#games>div>img {
    width: 100%;
}

#content {
    width: 70%;
    height: fit-content;
    background-color: #ffffffd6;
    padding: 1% 1% 15vh 1%;
    border-radius: 5%;
    margin: 25vh auto 10% auto;
}

#profile-page-img {
    width: 100%
}

a {
    width: 5%;
}

nav a {
    width: 20%
}

h1 {
    margin-bottom: 2%;
}