body {
    background-color: lightblue;
    width: 50%;
    margin: auto;
    /* height: 98vh; */
}

#grid-container {
    /* background-color: lightcoral; */
    display: grid;
    width: 100%;
    /* height: fit-content; */
    grid-gap: 2%;

}

img {
    border: 0.5em solid white;
    border-radius: 5%;
    backface-visibility: hidden;
    transition: transform 0.6s ease;
}

.flip {
    transform: rotateY(180deg);
}

p {
    margin-top: 10px;
    font-size: 1.5rem;

}

#won {
    font-size: 2rem;
    font-weight: bold;
    margin: 20px;
}

#replay,
#next-level {
    padding: 5px;
    font-size: 1.5rem;

    display: none;
}
#next-level{
    width:150px
}
#replay {
    width: 100px
}

 button {
    padding: 5px;
    width: 30px
}

aside {
 
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
  
 
}

#points {
    display: inline;
    margin-left: 10px;
}


aside p {
    display: inline;

}

#levels {
    display: block;
    clear: both;
}
label{font-size: 1.5rem;}

header img{
    border:none
}
nav p{font-size: 1rem;}

#grid-container{
    align-items: center;
   justify-content: center;
   margin: auto;
   
}
h1{margin-top: 10px;
text-align: center;}

#explanation{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}