audio {
    display: none;
}

body {
    width: 80%;
    height: 80vh;
    margin: auto;
    background-color: lightblue;
}

#piano {
    width: 100%;
    min-width: 400px;
    height: 40vh;
    background-color: black;
    margin: 0 auto;
    border: 1px solid gray;
    position: relative;
}

#keys {
    width: 84%;
    height: 25vh;
    position: absolute;
    bottom: 0;
    left: 8%;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    align-items: center;
}

#keys > * {
    height: 100%;
    background-color: white;
    border-right: 2px ridge black;
    border-bottom: 5px black ridge;
}

#keys div:last-child {
    border-right: none;
}

#keys div:hover {
    background-color: lightgray;
}
#keys.playing{
    background-color: lightgray;
}
.recIcon{
    width:40px ;
    border-radius: 100%;
    margin-top: 10px;
}
.recIcon.pressed{display: none;}