audio {
    display: none;
}

body {
    width: 80%;
    height: 80vh;
    margin: auto;
    background-color: lightblue;
}

.recIcon {
    width: 40px;
    border-radius: 100%;
    margin-top: 10px;
}

.recIcon.pressed {
    display: none;
}

.red {
    background-color: #ff4949;
    
}

.green {
    background-color: #37ff00;
}

#on-btn {
    width: 5%;
    border-radius: 50%;
}

#piano {
    width: 100%;
    min-width: 400px;
    height: 40vh;
    background-color: black;
    margin: 0 auto;
    border: 1px solid gray;
    position: relative;
}

#keys {
    width: 84%;
    height: 25vh;
    position: absolute;
    bottom: 0;
    left: 8%;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    align-items: center;
}

#keys>* {
    height: 100%;
    background-color: white;
    border-right: 2px ridge black;
    border-bottom: 5px black ridge;
}

#keys div:last-child {
    border-right: none;
}

#keys div:hover {
    
    /* turns the keys gray when mouse is on them, important since style gets overwritten by 
    the style of the keys when they are called by the keyboard
     (they turn orange in the "playkeykeyboard" function) */

    background-color: lightgray !important;
}

#keys.playing {
    background-color: lightgray;
}

.drum{padding:5px;
    width:100px;
    height:100px;
border-radius: 40%;
background-color: brown;
display: flex;
flex-wrap: wrap;
margin: 5px;}

 #drums>*{
  background-color: brown;
  width: 60px;
  height: 60px;
  margin: 5px;
  border-radius: 40%;
  display: flex;
 }
 #drums>*:hover{
background-color: chocolate;
 }
 #drums{
    float: right;
    display: flex;
    flex-wrap: wrap;
    width:200px;
    position:absolute;
    right:20vw;
    top:50vh;
 }
