/* colors: 
1) #F3f0CA
2) #E1AA74
3) #3876BF
4) #192655
*/

#profile-pic {
    border-radius: 50%;
    padding: 2%;
    width: 20vh;
    background-color: #192655;
}

#stars {
    display: flex;
    justify-content: center;
    column-gap: 1%;
    height: 5vh;
}

#stars > *{
    height: 100%;
}
button{margin-top:30px;
padding: 2px;}
p{padding: 5px;}
h2{margin: 10px;}
